# <b>House Prices - Advanced Regression Techniques

# <b>Step 0. 라이브러리 import 및 데이터 불러오기
### **가. 라이브러리 import**
                                                                                                                      by kjulous77

In [54]:
import pandas as pd
import numpy as np

### **나.  학습데이터 불러오기**

https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/DX5-Study/House/main/train.csv', delimiter=',')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# <b>Step 1. 데이터 전처리
---

## <b>1. 중복 데이터 제거

In [56]:
# 데이터 프레임의 info를 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [57]:
# 중복 데이터 제거를 제거합니다.
df.drop_duplicates(inplace=True)

In [58]:
# 데이터 프레임의 info를 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 935.3+ KB

---

## <b>2. 결측치 처리

In [59]:
def fillknn(df):
    from sklearn.impute import KNNImputer
    imputer = KNNImputer(n_neighbors=5)
    knn_df=imputer.fit_transform(df)
    knn_df=pd.DataFrame(knn_df, columns=df.columns)
    return knn_df

In [60]:
# 결측치 있는 항만 확인
nas =pd.DataFrame(df.isna().sum())
nas.loc[nas[0]!=0]

                 0
LotFrontage    259
Alley         1369
MasVnrType       8
MasVnrArea       8
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinType2    38
Electrical       1
FireplaceQu    690
GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageQual      81
GarageCond      81
PoolQC        1453
Fence         1179
MiscFeature   1406

In [61]:
df['Fence'].value_counts()

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64

In [62]:
df['MiscFeature'].value_counts()

Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: int64

In [63]:
df['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [64]:
# 해당 feature 들은 전체 행 개수에 비해 결측치 개수가 과다함
del_col = ['Fence', 'MiscFeature', 'Alley','Id']
df.drop(del_col, axis=1, inplace=True)

In [65]:
nas =pd.DataFrame(df.isna().sum())
nas.loc[nas[0]!=0]

                 0
LotFrontage    259
MasVnrType       8
MasVnrArea       8
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinType2    38
Electrical       1
FireplaceQu    690
GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageQual      81
GarageCond      81
PoolQC        1453

In [66]:
df.loc[df['PoolArea']==0, 'PoolQC'].sum()

0

In [67]:
# PoolArea가 0 인 경우 PoolQC가 결측치 이므로 none으로 처리
df.loc[df['PoolArea']==0, 'PoolQC']='none'

In [68]:
# MasVnrType 이 결측치일 떄, MasVnrArea 도 결측치를 가진다.
df['MasVnrType'].value_counts()

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [69]:
# 해당항들은 결측치가 매우 적으므로 제거
df.dropna(subset=['Electrical', 'MasVnrType'], inplace=True)

In [70]:
nas =pd.DataFrame(df.isna().sum())
nas.loc[nas[0]!=0]

                0
LotFrontage   257
BsmtQual       37
BsmtCond       37
BsmtExposure   38
BsmtFinType1   37
BsmtFinType2   38
FireplaceQu   685
GarageType     81
GarageYrBlt    81
GarageFinish   81
GarageQual     81
GarageCond     81

In [71]:
df['BsmtFinType1'].unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', nan, 'LwQ'], dtype=object)

In [72]:
df['BsmtFinType2'].unique()

array(['Unf', 'BLQ', nan, 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [73]:
df['BsmtCond'].unique()

array(['TA', 'Gd', nan, 'Fa', 'Po'], dtype=object)

In [74]:
df[['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2']].loc[df['BsmtExposure'].isna()]

     BsmtQual BsmtCond BsmtExposure BsmtFinType1 BsmtFinType2
17        NaN      NaN          NaN          NaN          NaN
39        NaN      NaN          NaN          NaN          NaN
90        NaN      NaN          NaN          NaN          NaN
102       NaN      NaN          NaN          NaN          NaN
156       NaN      NaN          NaN          NaN          NaN
182       NaN      NaN          NaN          NaN          NaN
259       NaN      NaN          NaN          NaN          NaN
342       NaN      NaN          NaN          NaN          NaN
362       NaN      NaN          NaN          NaN          NaN
371       NaN      NaN          NaN          NaN          NaN
392       NaN      NaN          NaN          NaN          NaN
520       NaN      NaN          NaN          NaN          NaN
532       NaN      NaN          NaN          NaN          NaN
533       NaN      NaN          NaN          NaN          NaN
553       NaN      NaN          NaN          NaN          NaN
646       NaN      NaN          NaN          NaN          NaN
705       NaN      NaN          NaN          NaN          NaN
736       NaN      NaN          NaN          NaN          NaN
749       NaN      NaN          NaN          NaN          NaN
778       NaN      NaN          NaN          NaN          NaN
868       NaN      NaN          NaN          NaN          NaN
894       NaN      NaN          NaN          NaN          NaN
897       NaN      NaN          NaN          NaN          NaN
948        Gd       TA          NaN          Unf          Unf
984       NaN      NaN          NaN          NaN          NaN
1000      NaN      NaN          NaN          NaN          NaN
1011      NaN      NaN          NaN          NaN          NaN
1035      NaN      NaN          NaN          NaN          NaN
1045      NaN      NaN          NaN          NaN          NaN
1048      NaN      NaN          NaN          NaN          NaN
1049      NaN      NaN          NaN          NaN          NaN
1090      NaN      NaN          NaN          NaN          NaN
1179      NaN      NaN          NaN          NaN          NaN
1216      NaN      NaN          NaN          NaN          NaN
1218      NaN      NaN          NaN          NaN          NaN
1232      NaN      NaN          NaN          NaN          NaN
1321      NaN      NaN          NaN          NaN          NaN
1412      NaN      NaN          NaN          NaN          NaN

In [75]:
# 한개 항을 제외하면 모두 같이 결측치를 가진다. 데이터 설명에 없는 경우가 표기 되어 있으므로, 결측치가 없는 경우로 가정
cols1 = ['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2']
df[cols1] =df[cols1].fillna('none')

In [76]:
nas =pd.DataFrame(df.isna().sum())
nas.loc[nas[0]!=0]

                0
LotFrontage   257
FireplaceQu   685
GarageType     81
GarageYrBlt    81
GarageFinish   81
GarageQual     81
GarageCond     81

In [77]:
df['GarageCond'].unique()

array(['TA', 'Fa', nan, 'Gd', 'Po', 'Ex'], dtype=object)

In [78]:
df[['GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']].loc[df['GarageCond'].isna()]

     GarageType  GarageYrBlt GarageFinish GarageQual GarageCond
39          NaN          NaN          NaN        NaN        NaN
48          NaN          NaN          NaN        NaN        NaN
78          NaN          NaN          NaN        NaN        NaN
88          NaN          NaN          NaN        NaN        NaN
89          NaN          NaN          NaN        NaN        NaN
...         ...          ...          ...        ...        ...
1349        NaN          NaN          NaN        NaN        NaN
1407        NaN          NaN          NaN        NaN        NaN
1449        NaN          NaN          NaN        NaN        NaN
1450        NaN          NaN          NaN        NaN        NaN
1453        NaN          NaN          NaN        NaN        NaN

[81 rows x 5 columns]

In [79]:
# 한개 항을 제외하면 모두 같이 결측치를 가진다. 데이터 설명에 없는 경우가 표기 되어 있으므로, 결측치가 없는 경우로 가정#
cols2 = ['GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']
df[cols2] =df[cols2].fillna('none')

In [80]:
nas =pd.DataFrame(df.isna().sum())
nas.loc[nas[0]!=0]

               0
LotFrontage  257
FireplaceQu  685

In [81]:
df['LotFrontage'].unique()

array([ 65.,  80.,  68.,  60.,  84.,  85.,  75.,  nan,  51.,  50.,  70.,
        91.,  72.,  66., 101.,  57.,  44., 110.,  98.,  47., 108., 112.,
        74., 115.,  61.,  48.,  33.,  52., 100.,  24.,  89.,  63.,  76.,
        81.,  95.,  69.,  21.,  32.,  78., 121., 122.,  40., 105.,  73.,
        77.,  64.,  94.,  34.,  90.,  55.,  88.,  82.,  71., 120., 107.,
        92., 134.,  62.,  86., 141.,  97.,  54.,  41.,  79., 174.,  99.,
        67.,  83.,  43., 103.,  93.,  30., 129., 140.,  35.,  37., 118.,
        87., 116., 150., 111.,  49.,  96.,  59.,  36.,  56., 102.,  58.,
        38., 109., 130.,  53., 137.,  45., 106., 104.,  42.,  39., 144.,
       114., 128., 149., 313., 168., 182., 138., 160., 152., 124., 153.,
        46.])

In [82]:
df['FireplaceQu'].unique()

array([nan, 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [83]:
# 데이터 설명에 없는 경우가 표기 되어 있으므로, 결측치가 없는 경우로 가정
df['FireplaceQu'] = df['FireplaceQu'].fillna('none')

In [84]:
nas =pd.DataFrame(df.isna().sum())
nas.loc[nas[0]!=0]

               0
LotFrontage  257

In [85]:
df['GarageCond'].value_counts()

TA      1317
none      81
Fa        35
Gd         9
Po         7
Ex         2
Name: GarageCond, dtype: int64

In [86]:
# 평가를 점수로 라벨링 함
cols3 =['ExterQual', 'ExterCond', 'HeatingQC', 'KitchenQual']
cols4 = ['BsmtQual', 'BsmtCond', 'FireplaceQu', 'GarageQual', 'GarageCond']
df[cols3] =df[cols3].replace({'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1})
df[cols4] = df[cols4].replace({'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'none':0})
df['PoolQC'] = df['PoolQC'].replace({'Ex':4, 'Gd':3, 'TA':2, 'Fa':1, 'none':0})
df['CentralAir'] = df['CentralAir'].replace({'Y':1, 'N':0})

In [87]:
df['Electrical'].unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix'], dtype=object)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1451 non-null   int64
 1   MSZoning       1451 non-null   object
 2   LotFrontage    1194 non-null   float64
 3   LotArea        1451 non-null   int64
 4   Street         1451 non-null   object
 5   LotShape       1451 non-null   object
 6   LandContour    1451 non-null   object
 7   Utilities      1451 non-null   object
 8   LotConfig      1451 non-null   object
 9   LandSlope      1451 non-null   object
 10  Neighborhood   1451 non-null   object
 11  Condition1     1451 non-null   object
 12  Condition2     1451 non-null   object
 13  BldgType       1451 non-null   object
 14  HouseStyle     1451 non-null   object
 15  OverallQual    1451 non-null   int64
 16  OverallCond    1451 non-null   int64
 17  YearBuilt      1451 non-null   int64
 18  YearRemodAdd   1451 non-null   int64
 19  RoofStyle      1451 non-null   object
 20  RoofMatl       1451 non-null   object
 21  Exterior1st    1451 non-null   object
 22  Exterior2nd    1451 non-null   object
 23  MasVnrType     1451 non-null   object
 24  MasVnrArea     1451 non-null   float64
 25  ExterQual      1451 non-null   int64
 26  ExterCond      1451 non-null   int64
 27  Foundation     1451 non-null   object
 28  BsmtQual       1451 non-null   int64
 29  BsmtCond       1451 non-null   int64
 30  BsmtExposure   1451 non-null   object
 31  BsmtFinType1   1451 non-null   object
 32  BsmtFinSF1     1451 non-null   int64
 33  BsmtFinType2   1451 non-null   object
 34  BsmtFinSF2     1451 non-null   int64
 35  BsmtUnfSF      1451 non-null   int64
 36  TotalBsmtSF    1451 non-null   int64
 37  Heating        1451 non-null   object
 38  HeatingQC      1451 non-null   int64
 39  CentralAir     1451 non-null   int64
 40  Electrical     1451 non-null   object
 41  1stFlrSF       1451 non-null   int64
 42  2ndFlrSF       1451 non-null   int64
 43  LowQualFinSF   1451 non-null   int64
 44  GrLivArea      1451 non-null   int64
 45  BsmtFullBath   1451 non-null   int64
 46  BsmtHalfBath   1451 non-null   int64
 47  FullBath       1451 non-null   int64
 48  HalfBath       1451 non-null   int64
 49  BedroomAbvGr   1451 non-null   int64
 50  KitchenAbvGr   1451 non-null   int64
 51  KitchenQual    1451 non-null   int64
 52  TotRmsAbvGrd   1451 non-null   int64
 53  Functional     1451 non-null   object
 54  Fireplaces     1451 non-null   int64
 55  FireplaceQu    1451 non-null   int64
 56  GarageType     1451 non-null   object
 57  GarageYrBlt    1451 non-null   object
 58  GarageFinish   1451 non-null   object
 59  GarageCars     1451 non-null   int64
 60  GarageArea     1451 non-null   int64
 61  GarageQual     1451 non-null   int64
 62  GarageCond     1451 non-null   int64
 63  PavedDrive     1451 non-null   object
 64  WoodDeckSF     1451 non-null   int64
 65  OpenPorchSF    1451 non-null   int64
 66  EnclosedPorch  1451 non-null   int64
 67  3SsnPorch      1451 non-null   int64
 68  ScreenPorch    1451 non-null   int64
 69  PoolArea       1451 non-null   int64
 70  PoolQC         1451 non-null   int64
 71  MiscVal        1451 non-null   int64
 72  MoSold         1451 non-null   int64
 73  YrSold         1451 non-null   int64
 74  SaleType       1451 non-null   object
 75  SaleCondition  1451 non-null   object
 76  SalePrice      1451 non-null   int64
dtypes: float64(2), int64(45), object(30)
memory usage: 884.2+ KB

In [89]:
# 라벨링한 데이터 이외에 분류형 feature
dumm_cols = ['MSZoning', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
             'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',  'Exterior2nd',
             'MasVnrType', 'Foundation', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'Electrical', 'Functional',
             'GarageType', 'GarageYrBlt', 'GarageFinish', 'PavedDrive', 'SaleType', 'SaleCondition', 'YearBuilt', 'YearRemodAdd',
             'GarageYrBlt', 'YrSold', 'MSZoning','Street']

In [90]:
df.drop(dumm_cols, axis=1, inplace=True)

In [91]:
df= fillknn(df)

In [92]:
df.drop_duplicates(inplace=True)

## <b>3. 모델링

#### <b>3.1 모델 설정

In [40]:
from pycaret.regression import *

In [41]:
exp = setup(data = df,  
            target = 'SalePrice',
            normalize = True, 
            normalize_method = 'minmax',
            transformation = False, 
            fold = 5, 
            fold_shuffle=True,        
            silent = True,  
            use_gpu = True)

In [42]:
data_transform = get_config('X') # train 데이터
data_transform.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,MasVnrArea,ExterQual,ExterCond,BsmtQual,BsmtCond,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,MiscVal,MoSold,CentralAir_0.0
0,0.235294,0.150685,0.042649,0.666667,0.500,0.12250,0.666667,0.5,0.8,0.75,...,0.000000,0.111517,0.000000,0.0,0.0,0.0,0.0,0.0,0.090909,0.0
1,0.000000,0.202055,0.049697,0.555556,0.875,0.00000,0.333333,0.5,0.8,0.75,...,0.347725,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.363636,0.0
2,0.235294,0.160959,0.059809,0.666667,0.500,0.10125,0.666667,0.5,0.8,0.75,...,0.000000,0.076782,0.000000,0.0,0.0,0.0,0.0,0.0,0.727273,0.0
3,0.294118,0.133562,0.049391,0.666667,0.500,0.00000,0.333333,0.5,0.6,1.00,...,0.000000,0.063985,0.492754,0.0,0.0,0.0,0.0,0.0,0.090909,0.0
4,0.235294,0.215753,0.078256,0.777778,0.500,0.21875,0.666667,0.5,0.8,0.75,...,0.224037,0.153565,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000,0.0

#### <b>3-2. 모델 생성

---

In [43]:
best3 = compare_models( sort='RMSE', n_select = 3, budget_time = 0.5)

In [44]:
best_top3 = [tune_model(i, optimize = 'RMSE', n_iter=20) for i in best3]

In [45]:
blend_3_soft = blend_models(estimator_list = best3, fold=5, optimize='RMSE')

In [46]:
stacker_3 = stack_models(estimator_list = best3[1:], meta_model = best3[0])

## <b>4. 예측

In [47]:
test = pd.read_csv('https://raw.githubusercontent.com/DX5-Study/House/main/test.csv')
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [48]:
from matplotlib.pyplot import axis


def set_data(df):
    del_col = ['Fence', 'MiscFeature', 'Alley','Id']
    data_to1 = ['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2']
    data_to2 =['GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']
    data_to3 = ['ExterQual', 'ExterCond', 'HeatingQC', 'KitchenQual']
    data_to4 = ['BsmtQual', 'BsmtCond', 'FireplaceQu', 'GarageQual', 'GarageCond']
    df.drop(del_col, axis=1, inplace=True)
    df.loc[test['PoolArea']==0, 'PoolQC']='none'
    df[data_to1] =df[data_to1].fillna('none')
    df[data_to2] =df[data_to2].fillna('none')
    df['FireplaceQu'] = df['FireplaceQu'].fillna('none')
    df[data_to3] =df[data_to3].replace({'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1})
    df[data_to4] = df[data_to4].replace({'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'none':0})
    df['PoolQC'] = df['PoolQC'].replace({'Ex':4, 'Gd':3, 'TA':2, 'Fa':1, 'none':0})
    df['CentralAir'] = df['CentralAir'].replace({'Y':1, 'N':0})
    df.drop(dumm_cols, axis=1, inplace=True)
    return df

In [49]:
# 전처리
test = set_data(test)
# knn imputer
test = fillknn(test)

In [93]:
# stacker_3, blend_3_soft
final_model = finalize_model(stacker_3)

In [94]:
pred = predict_model(final_model, data = test)

In [95]:
submission =pd.read_csv('https://raw.githubusercontent.com/DX5-Study/House/main/sample_submission.csv')
submission['SalePrice'] = pred[['Label']]
submission.head()

     Id      SalePrice
0  1461  125026.836069
1  1462  170853.646231
2  1463  175691.534400
3  1464  176485.650993
4  1465  182619.594488

In [96]:
#  캐글에서 ERROR: Column '' was not expected (Line 1, Column 1)  때문에 index=False 추가
submission.to_csv('submission.csv',  index=False)

![](https://file%2B.vscode-resource.vscode-cdn.net/c%3A/Users/Hyun/Desktop/%EC%83%88%20%ED%8F%B4%EB%8D%94/kwon/score.png?version%3D1664806354989)